/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

.card-img-top {
  width: 100%;
  height: 490px;
  object-fit: cover;
}

.spacer {
  margin: 20px 0;
}

.full-image {
  width: 100%;
}

.disabled {
  color: grey;
}

.card-text {
  min-height: 72px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}

.card-title {
  min-height: 54px;
}

.text-center {
  text-align: center;
}

.inline {
  display: inline-block;
  text-align: center;
  margin: 20px auto;
  a {
    display: inline;
  }
  input {
    display: inline;
    margin: 0 10px;
    text-align: center;
    width: 60px;
  }
  form {
    display: inline;
  }
}